## Segmenting and Clustering Neighborhoods in Toronto PART 1

IBM DATA SCIENCE PROFESSIONAL CERTIFICATE - # 9 Applied Data Science Capstone - WEEK 3 | COURSERA

### 1. Data Scraping and Data Cleaning

In [11]:
# import the libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [12]:
# scrap data from the wiki page and transform the data to a data frame
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_url, 'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))[0]
df = df.rename(columns=df.iloc[0]).drop(df.index[0])

In [13]:
# the dataframe consist of three columns: PostalCode, Borough, and Neighborhood
df[0:5]

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [14]:
# drop the rows that have "not assigned" neighbourhood
df.drop(df[df.Borough == 'Not assigned'].index, inplace=True)
df = df.reset_index()

In [15]:
# drop the old index column
df = df.drop(['index'], axis = 1)

In [16]:
# For the cell that has a borough but a "not assigned" neighbourhood,
# we make the neighbourhood the same as the borough
df[df.Neighbourhood == 'Not assigned']
df.at[df[df.Neighbourhood == 'Not assigned'].index, 'Neighbourhood']= "Queen's Park"
df[0:7]

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park

In [17]:
# combine the neighbourhoods that have the same postal code into one row
# separate the neighbourhoods with commas
df = pd.DataFrame(df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list)).reset_index()
df[0:5]

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                          [Rouge, Malvern]
1      M1C  Scarborough  [Highland Creek, Rouge Hill, Port Union]
2      M1E  Scarborough       [Guildwood, Morningside, West Hill]
3      M1G  Scarborough                                  [Woburn]
4      M1H  Scarborough                               [Cedarbrae]

In [18]:
# print the number of rows of your dataframe
df.shape

(103, 3)